*{
    margin: 0;
}
h1{
    font-size: 30px !important;
}
ul{
    list-style: none;
}
div > img{
    max-height: 600px;
    max-width: 100%;
}
.cc{
    width: 20rem;
}

@media screen and (max-width: 1200px) {
    .cc{
        width: 15rem;
    }
}

@media screen and (max-width: 900px) {
    .cardss{
        flex-flow: column;
        justify-content: center;
    }
    .cc{
        width: 100% !important;
    }
}
